{% extends 'base.html' %}

{% block content %}
{% load static %}
{% comment %} <div class="container"> {% endcomment %}
    {% comment %} <div class="container"> {% endcomment %}
    <h1>Used Cars Ads: {{ qty }}</h1>
    

    <form method="POST" action="{% url 'car_ads:update' %}" class="post-form">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-danger btn-lg">Update</button>
    </form>
    <p></p>


    {% if ads %} 

    <div class="table-responsive" style="height: 400px;">
      <table class="table table-striped">
        <thead>
          <th><h2>Index</h2></th>
          <th><h2>Brand</h2></th>
          <th><h2>Model</h2></th>
          <th><h2>Mileage</h2></th>
          <th><h2>Year</h2></th>
          <th><h2>Gearbox</h2></th>
          <th><h2>Fuel</h2></th>
          <th><h2>Price</h2></th>
          <th><h2>Fiscal Power</h2></th>
          <th><h2>First Hand</h2></th>
          <th><h2>Platform</h2></th>
          <th><h2>Link</h2></th>

        </thead>
        {% for ad in ads %}  
        <tr>
          <td><h3>{{ forloop.counter }}</h3></td>
          <td><h3>{{ ad.brand }}</h3></td>
          <td><h3>{{ ad.model }}</h3></td>
          <td><h3>{{ ad.mileage }}</h3></td>
          <td><h3>{{ ad.year }}</h3></td>
          <td><h3>{{ ad.gearbox }}</h3></td>
          <td><h3>{{ ad.fuel }}</h3></td>
          <td><h3>{{ ad.price }}</h3></td>
          <td><h3>{{ ad.fiscal_power }}</h3></td>
          <td><h3>{{ ad.fh }}</h3></td>
          <td><h3>{{ ad.platform }}</h3></td>
          <td><a href="{{ ad.ad_link }}"><h3>{{ ad.ad_link }}</a></h3></td>
        </tr>
        {% endfor %}
          
      </table>
</div>
{% endif %}

<p></p>
<form method="POST" action="{% url 'car_ads:train' %}" class="post-form">
  {% csrf_token %}
  {{form.as_p}}
  <button type="submit" class="btn btn-danger btn-lg">Train Predictor</button>
</form>
<p></p>
{% if trained %}
  <p>Training Completed</p>
{% endif %}
<p></p>
<div class="row mt-5">
  <div class="col">
    <h2>Price Predictor</h2>
    <p>Here you can enter the details of a car and get an estimated price.</p>
    {% if prediction %}
    <h2>Predicted Price of Vehicle is {{ prediction }} DH</h2>
    {% endif %}
    <form method="post" action="{% url 'car_ads:predict' %}" class="post-form">
      {% csrf_token %}
      <div class="row mb-3">
        <div class="col">
          <label for="fuel">Fuel:</label>
          <select class="form-select" id="fuel" name="fuel">
            {% for fuel in fuels %}
            <option value="{{ fuel }}">{{ fuel }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col">
          <label for="gearbox">Gearbox:</label>
          <select class="form-select" id="gearbox" name="gearbox">
            <option value="Manual">Manual</option>
            <option value="Automatic">Automatic</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="year">Year:</label>
          <input type="number" class="form-control" id="year" name="year" value="2010">
        </div>
        <div class="col">
          <label for="fiscal_power">Fiscal Power:</label>
          <input type="number" class="form-control" id="fiscal_power" name="fiscal_power" value="5.0">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="mileage">Mileage:</label>
          <input type="number" class="form-control" id="mileage" name="mileage" value="150000">
        </div>
        <div class="col">
          <label for="first_hand">First Hand:</label>
          <select class="form-select" id="first_hand" name="first_hand">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="brand">Brand:</label>
            <select class="form-select" id="brand" name="brand">
              {% for brand in brands %}
                <option value="{{ brand }}">{{ brand }}</option>
              {% endfor %}
            </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Predict Price</button>
    </form>
  </div>

</div>

{% if matches %} 
    <p></p>
    <h1>Here are some Recommendations:</h1>
    <p></p>
    <div class="table-responsive" style="height: 400px;">
      <table class="table table-striped">
        <thead>
          <th><h2>Index</h2></th>
          <th><h2>Brand</h2></th>
          <th><h2>Model</h2></th>
          <th><h2>Mileage</h2></th>
          <th><h2>Year</h2></th>
          <th><h2>Gearbox</h2></th>
          <th><h2>Fuel</h2></th>
          <th><h2>Price Difference</h2></th>
          <th><h2>Fiscal Power</h2></th>
          <th><h2>First Hand</h2></th>
          <th><h2>Platform</h2></th>
          <th><h2>Link</h2></th>

        </thead>
        {% for ad in matches %}  
        <tr>
          <td><h3>{{ forloop.counter }}</h3></td>
          <td><h3>{{ ad.brand }}</h3></td>
          <td><h3>{{ ad.model }}</h3></td>
          <td><h3>{{ ad.mileage }}</h3></td>
          <td><h3>{{ ad.year }}</h3></td>
          <td><h3>{{ ad.gearbox }}</h3></td>
          <td><h3>{{ ad.fuel }}</h3></td>
          <td><h3>{{ ad.price }}</h3></td>
          <td><h3>{{ ad.fiscal_power }}</h3></td>
          <td><h3>{{ ad.fh }}</h3></td>
          <td><h3>{{ ad.platform }}</h3></td>
          <td><a href="{{ ad.ad_link }}"><h3>{{ ad.ad_link }}</a></h3></td>
        </tr>
        {% endfor %}
          
      </table>
  </div>
{% endif %}

<p></p>
<p></p>
    
{% comment %} </div> {% endcomment %}
{% comment %} </div> {% endcomment %}
    <script>var editor = new MediumEditor('.editable');</script>

    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'form_scraper/js/script.min.js' %}"></script>
    <script src="{% static 'form_scraper/js/form_scraper.js' %}"></script>

{% endblock %}
